PORT=3000
RABBITMQ_URL=''
CLARISA_HOST=''
CLARISA_MIS=''
CLARISA_MIS_ENV=''
CLARISA_LOGIN=''
CLARISA_PASSWORD=''
IS_PRODUCTION=boolean
SEE_ALL_LOGS=boolean
QUEUE_NAME=''
SLACK_WEBHOOK_URL=''
AWS_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''

# Gotenberg URL-based PDF generation
GOTENBERG_URL=''
PDF_TEMPLATE_BASE_URL=''
API_SECRET=''
ADMIN_SECRET=''
GOTENBERG_PAPER_WIDTH=600px
GOTENBERG_PAPER_HEIGHT=1000px
GOTENBERG_MARGIN_TOP=0
GOTENBERG_MARGIN_BOTTOM=0
GOTENBERG_MARGIN_LEFT=0
GOTENBERG_MARGIN_RIGHT=0
GOTENBERG_PRINT_BACKGROUND=true